<%- include("./includes/head", { pageTitle: "Signup" }) %>

</head>
<body>
    <%- include("./includes/header") %>
    <main>
        <h1>Could not found resource.</h1>
        <p>Unfortunately, Could not found resource. Please try again later.</p>
        <p><a href="/" class="btn">Back to safety.</a></p>
    </main>
<%- include("./includes/footer") %>

