<li>
    <article class="product-item">
        <img src="<%= product.image %>" alt="<%= product.title %>">
        <h2><%= product.title %></h2>
        <div>
            <a href="/admin/products/<%= product.id %>">View & Edit</a>
            <button>Delete</button>
        </div>
    </article>
</li>